/**************************************** Font Styles ********************************************/
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@700&family=Jacques+Francois&family=Linden+Hill&family=Manrope:wght@200;700&family=Old+Standard+TT&display=swap');
/* font-family: 'Jacques Francois', serif; */
/* font-family: 'Old Standard TT', serif; */
/* font-family: 'Abhaya Libre', serif; */
/* font-family: 'Linden Hill', serif; */
/* font-family: 'Manrope', sans-serif; */

*{
    padding: 0px;
    margin: 0px;
}

pre{
    text-wrap: wrap;
    white-space: pre-line;
}

/* .nav-link:focus{
    font-weight: bold;
    color: #8b8b8b;
} */

.navbar{
    --bs-navbar-active-color: rgb(235, 142, 56);
}

.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button{
    border: none;
    color: black;
    background-color: #F0F3F6;
    font-family: 'Abhaya Libre', serif;
    letter-spacing: 3px;
    transition: .7s;
}

.button:hover{
    background-color: rgb(190, 190, 190)
}

.GetInTouch{
    position: relative;
    width: 100%;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.GetInTouch h2{
    font-family: 'Jacques Francois', serif;
    font-size: 18px;
    text-align: center;
    color: white;
    letter-spacing: 1px;
    padding: 10px 20px;
}

#getintouch-button{
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 30px;
    text-decoration: none;
}

.GetInTouch-background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./assets/LowRes/specialmoments.jpg');
    background-size: cover;
    background-position: center;
    filter: brightness(.6);
    z-index: -1;
}


@media all and (min-width: 430px){
    .GetInTouch{
        width: 100%;
        height: 288px;
    }

    .GetInTouch h2{
        font-size: 28px;
    }
}


@media all and (min-width: 700px){
    .GetInTouch{
        width: 100%;
        height: 320px;
    }

    .GetInTouch h2{
        font-size: 32px;
        padding: 10px 120px;
    }
}


@media all and (min-width: 1024px){
    .GetInTouch{
        width: 100%;
        height: 406px;
    }

    .GetInTouch h2{
        font-size: 45px;
    }

    #getintouch-button{
        font-size: 18px;
        padding: 15px 60px
    }
}


@media all and (min-width: 1500px){
    .GetInTouch{
        width: 100%;
        height: 692px;
    }

    .GetInTouch h2{
        font-size: 65px;
        padding: 10px 350px;
    }

    #getintouch-button{
        font-size: 18px;
        padding: 15px 60px
    }
}

@media all and (min-width: 1650px){
    .GetInTouch h2{
        font-size: 65px;
        padding: 10px 400px;
    }
}